#clockContainer{
    position: relative;
    margin: auto;
    border: 2px solid red;
    background: url(clock.png) no-repeat;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
}
#minute, #second, #hour{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#minute{
    width: 1.25%;
    height: 40%; 
    top: 10.2%;
    left: 48.2%;
    opacity: 0.8;
    
}    
#second{
    width: 0.5%;
    height: 45%; 
    top: 4.9%;
    left: 48.7%;
    opacity: 0.8;
} 
#hour{
    width: 2%;
    height: 32%; 
    top: 18%;
    left: 47.88%;
    opacity: 0.8;
}